@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --cor-de-fundo:#000000;
    --rosa:#f30cd4; 
    --verde:#14e926; 
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--rosa);
    text-align: center;
    font-family: 'league-gothic';
    }

    h1 span{
        color: var(--verde)
    }

    #dias_restantes{
        color: var(--verde);
        font-size: 50px;
    }