@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --cor-de-fundo:#000000;
    --rosa:#fc0fc0;
    --verde:#22f356;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--rosa);
    text-align: center;
    font-family: 'sans-serif';
    font-size: 20px;
    }

    h1 span{
        color: var(--verde)
    }

    #dias_restantes{
        color: var(--verde);
        font-size: 100px;
    }