@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --cor-de-fundo:#000000;
    --rosa:#c4bcc2;
    --verde:#dcb9ec;
}

body{
    background-image:url(background.jpg) ;
    background-size: cover;
    color: var(--rosa);
    text-align: center;
    font-family: 'Chakra Petch';
    font-size: 17px;
    }

    h1 span{
        color: var(--verde)
    }

    #dias_restantes{
        color: var(--verde);
        font-size: 120px;
    }